<main class="main">
  <nav>
    <div class="logo">
      <span class="white">Overl <span class="orange">App</span></span>
    </div>
    <div class="nav-item">
      <button mat-raised-button extended>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" color="primary"></mat-icon>
        Home
      </button>

      <button mat-raised-button extended>
        <mat-icon svgIcon="expert" color="primary"></mat-icon>
        Expert
      </button>

      <button mat-raised-button extended>
        <mat-icon svgIcon="about" color="primary"></mat-icon>
        About Us
      </button>
    </div>
  </nav>
  <div class="content">
    <router-outlet />
  </div>
  <footer></footer>
</main>
